<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>	
            <key>label</key>
			<string>Dock</string>	
		</dict>
        <dict>
			<key>cell</key>
			<string>PSDefaultCell</string>	
            <key>cellClass</key>
			<string>TartinePreviewCellDock</string>	
            <key>height</key>
			<integer>100</integer>	
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.tartineprefs</string>
			<key>key</key>
			<string>dock_enable</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
        <dict>
			<key>default</key>
			<real>1</real>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>100</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.thomz.tartineprefs</string>
			<key>key</key>
			<string>dock_blurFactor</string>
            <key>cellClass</key>
			<string>KRLabeledSliderCell</string>
			<key>label</key>
			<string>Blur Factor</string>
			<key>height</key>
			<integer>85</integer>
            <key>PostNotification</key>
			<string>com.thomz.tartineprefs/foldersBlurView</string>
		</dict>
        <dict>
			<key>default</key>
			<real>0.3</real>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>1</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.thomz.tartineprefs</string>
			<key>key</key>
			<string>dock_colorTintAlpha</string>
            <key>cellClass</key>
			<string>KRLabeledSliderCell</string>
			<key>label</key>
			<string>Color Tint Alpha</string>
			<key>height</key>
			<integer>85</integer>
            <key>PostNotification</key>
			<string>com.thomz.tartineprefs/foldersBlurView</string>
		</dict>
        <dict>
			<key>default</key>
			<real>1.9</real>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>4</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.thomz.tartineprefs</string>
			<key>key</key>
			<string>dock_saturationDeltafactor</string>
            <key>cellClass</key>
			<string>KRLabeledSliderCell</string>
			<key>label</key>
			<string>Saturation Delta Factor</string>
			<key>height</key>
			<integer>85</integer>
            <key>PostNotification</key>
			<string>com.thomz.tartineprefs/foldersBlurView</string>
		</dict>
        <dict>
			<key>default</key>
			<real>1</real>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>1</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.thomz.tartineprefs</string>
			<key>key</key>
			<string>dock_redFactor</string>
            <key>leftImage</key>
			<string>red.png</string>
            <key>PostNotification</key>
			<string>com.thomz.tartineprefs/foldersBlurView</string>
		</dict>
        <dict>
			<key>default</key>
			<real>1</real>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>1</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.thomz.tartineprefs</string>
			<key>key</key>
			<string>dock_greenFactor</string>
            <key>leftImage</key>
			<string>green.png</string>
            <key>PostNotification</key>
			<string>com.thomz.tartineprefs/foldersBlurView</string>
		</dict>
        <dict>
			<key>default</key>
			<real>1</real>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>1</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.thomz.tartineprefs</string>
			<key>key</key>
			<string>dock_blueFactor</string>
            <key>leftImage</key>
			<string>blue.png</string>
            <key>PostNotification</key>
			<string>com.thomz.tartineprefs/foldersBlurView</string>
		</dict>
	</array>
	<key>title</key>
	<string>Dock</string>
</dict>
</plist>
