<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>	
            <key>label</key>
			<string>Container View</string>	
		</dict>
        <dict>
			<key>default</key>
			<real>1</real>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>100</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.thomz.tartineprefs</string>
			<key>key</key>
			<string>folders_blurFactor</string>
            <key>cellClass</key>
			<string>KRLabeledSliderCell</string>
			<key>label</key>
			<string>Blur Factor</string>
			<key>height</key>
			<integer>85</integer>
		</dict>
        <dict>
			<key>default</key>
			<real>0.3</real>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>1</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.thomz.tartineprefs</string>
			<key>key</key>
			<string>folders_container_colorTintAlpha</string>
            <key>cellClass</key>
			<string>KRLabeledSliderCell</string>
			<key>label</key>
			<string>Color Tint Alpha</string>
			<key>height</key>
			<integer>85</integer>
		</dict>
        <dict>
			<key>default</key>
			<real>1.9</real>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>40</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.thomz.tartineprefs</string>
			<key>key</key>
			<string>folders_container_saturationDeltafactor</string>
            <key>cellClass</key>
			<string>KRLabeledSliderCell</string>
			<key>label</key>
			<string>Saturation Delta Factor</string>
			<key>height</key>
			<integer>85</integer>
		</dict>
        <dict>
			<key>default</key>
			<real>1</real>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>1</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.thomz.tartineprefs</string>
			<key>key</key>
			<string>folders_container_redFactor</string>
		</dict>
        <dict>
			<key>default</key>
			<real>1</real>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>1</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.thomz.tartineprefs</string>
			<key>key</key>
			<string>folders_container_greenFactor</string>
		</dict>
        <dict>
			<key>default</key>
			<real>1</real>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>1</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.thomz.tartineprefs</string>
			<key>key</key>
			<string>folders_container_blueFactor</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>	
            <key>label</key>
			<string>Background View</string>	
		</dict>
	</array>
	<key>title</key>
	<string>Folders</string>
</dict>
</plist>
